<div class="container mt-3">
  <div class="row justify-content-center align-items-center">
    <div class="col col-md-10">
      <h1>Characters</h1>
      <p-table
        [value]="characters"
        [paginator]="true"
        [rows]="5"
        [selectionPageOnly]="true"
        >
        <ng-template pTemplate="header">
          <tr>
            <th style="width:40%">Name</th>
            <th>Planet</th>
            <th>Birthyear</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-character let-i="rowIndex">
          <tr (click)="getDetailPage(i + 1)">
            <td>{{ character.name }}</td>
            <td></td>
            <td>{{ character.birthYear }}</td>
            <td><i class="pi pi-arrow-circle-right" style="font-size: 1.4rem"></i></td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>
</div>
